{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:testing-library/recommended",
    "plugin:jest-dom/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "import/internal-regex": "^$public/"
  },
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true
  }
}