@font-face {
  src: url(../fonts/Cormorant/CormorantUnicase-Regular.ttf);
  font-family: CormorantUnicase-Regular;
}
@font-face {
  src: url(../fonts/Rubik/Rubik-Regular.ttf);
  font-family: Rubik-Regular;
}
